# Python (Flask) dependencies and environment files
.gitignore
*.pyc
__pycache__/
instance/
*.sqlite3
.env
venv/
ENV/
env/
env.bak/
venv.bak/
paddleenv/
# OS-specific files
.DS_Store
Thumbs.db

# Editor-specific files
.vscode/
.idea/
uploads/
dataset/
frontend/.gitignore
backend/.env
backend/detections.db
# Miscellaneous
*.log
*.pem
