services:
  - type: web
    name: roadeye-lpr
    env: python
    rootDir: backend

    buildCommand: |
      python --version
      pip install --upgrade pip
      pip install -r requirements.txt

    startCommand: uvicorn app.main:app --host 0.0.0.0 --port $PORT

    envVars:
      - key: PYTHON_VERSION
        value: 3.10.13
